In [1]:
import pandas as pd
import numpy as np

In [61]:
encabezado= ['Notas']
asignaturas = ['Matemática','Física','Historia']
notas = [[9],[9],[8]]

In [63]:
dataFrame= pd.DataFrame(notas,asignaturas,encabezado)

In [65]:
dataFrame

            Notas
Matemática      9
Física          9
Historia        8

In [215]:
fila= ['Notas','x','y']
asignaturas = ['Matemática','Física','Historia']
notas = [[9,9,8],[0,0,0],[0,0,0]]

In [217]:
dataFrame= pd.DataFrame(notas,fila,asignaturas)

In [219]:
dataFrame

       Matemática  Física  Historia
Notas           9       9         8
x               0       0         0
y               0       0         0

In [199]:
nota_fisica =  datos[0][1]
nota_fisica

9

In [201]:
print("La nota de Física es: ",nota_fisica)

La nota de Física es:  9

In [223]:
asignaturas = ['Matemática','Física','Historia']
asignaturas
notas =[9,9,8]
notas

[9, 9, 8]

In [227]:
serie1 = pd.Series(data = notas,index=asignaturas)
serie1

Matemática    9
Física        9
Historia      8
dtype: int64

In [231]:
nota_fisica = serie1['Física']
nota_fisica

9

In [233]:
print("La nota de Física es: ",nota_fisica)

La nota de Física es:  9