In [44]:
import pandas as pd

In [40]:
import csv

# Datos de ejemplo
datos = [
    ["Tocache", 35, 10],
    ["Lima", 18, 30],
    ["Trujillo", 35, 40],
    ["Tingo Maria", 35, 50],
    ["Iquitos", 35, 60],
    ["Tarapoto", 28, 70],
    ["Lamas", 20, 80],
    ["Pucallpa", 35, 90],
    ["Moyobamba", 24, 100],
]

# Nombre del archivo CSV
nombre_archivo = "IanGabriel.csv"

# Escribir los datos en el archivo CSV
with open(nombre_archivo, mode="w", newline="") as archivo_csv:
    writer = csv.writer(archivo_csv)
    writer.writerow(["Ciudades", "Temperaturas", "Precipitaciones"])  # Encabezados
    writer.writerows(datos)  # Filas de datos

print(f"Archivo '{nombre_archivo}' creado exitosamente.")

Archivo 'IanGabriel.csv' creado exitosamente.

In [42]:
datos_clima = pd.read_csv("IanGabriel.csv")
datos_clima

      Ciudades  Temperaturas  Precipitaciones
0      Tocache            35               10
1         Lima            18               30
2     Trujillo            35               40
3  Tingo Maria            35               50
4      Iquitos            35               60
5     Tarapoto            28               70
6        Lamas            20               80
7     Pucallpa            35               90
8    Moyobamba            24              100