In [1]:
import pandas as pd

In [49]:
df_empleados = pd.DataFrame(columns =['Nombre','Edad'])
df_empleados

Empty DataFrame
Columns: [Nombre, Edad]
Index: []

In [55]:
df_empleados = {"Nombre":["Ana","Luis","Carlos"],"edad":[30,25,40]}
resultado = pd.DataFrame(df_empleados)
resultado

   Nombre  edad
0     Ana    30
1    Luis    25
2  Carlos    40

In [57]:
print(resultado)

   Nombre  edad
0     Ana    30
1    Luis    25
2  Carlos    40