In [179]:
import pandas as pd
import numpy as np

In [79]:
#Enero
v1 = np.random.randint(100,500)
v1
v2 = np.random.randint(100,500)
v2
v3 = np.random.randint(100,500)
Ventas_Enero = v1,v2,v3
Ventas_Enero

(246, 366, 326)

In [81]:
#Febrero
v1 = np.random.randint(100,500)
v1
v2 = np.random.randint(100,500)
v2
v3 = np.random.randint(100,500)
Ventas_Febrero = v1,v2,v3
Ventas_Febrero

(290, 210, 400)

In [105]:
#Marzo
VM1 = np.random.randint(100,500)
VM1
VM2 = np.random.randint(100,500)
VM2
VM3 = np.random.randint(100,500)
VM3
VENTAS_M = VM1,VM2,VM3
VENTAS_M

Ventas_Marzo= ['Ventas_Enero','Ventas_Febrero','Ventas_Marzo']
Ventas_Marzo

['Ventas_Enero', 'Ventas_Febrero', 'Ventas_Marzo']

In [85]:
#Variable filas
filas = ['Oficina_1','Oficina_2','Oficina_3']
filas
pd.DataFrame(filas)

           0
0  Oficina_1
1  Oficina_2
2  Oficina_3

In [233]:
#Variable ventas



etiqueta = [filas]
ventas = (Ventas_Marzo),(Ventas_Enero),(Ventas_Febrero),(VENTAS_M)
ventas
pd.DataFrame(ventas)

              0               1             2
0  Ventas_Enero  Ventas_Febrero  Ventas_Marzo
1           246             366           326
2           290             210           400
3           378             355           429

In [ ]:
#Variable dataframe
dataframe = ['Oficina_1','Oficina_2','Oficina_3']
dataframe

In [43]:
print("Las Ventas de Enero para la oficina 1 son de: ",Ventas_Enero)

Las Ventas de Enero para la oficina 1 son de:  (488, 296, 313)