In [1]:
import pandas as pd
import numpy as np

In [61]:
encabezado= ['Notas']
asignaturas = ['Matemática','Física','Historia']
notas = [[9],[9],[8]]

In [63]:
dataFrame= pd.DataFrame(notas,asignaturas,encabezado)

In [65]:
dataFrame

            Notas
Matemática      9
Física          9
Historia        8

In [177]:
filas= ['Notas','x','y']
columnas = ['Matemática','Física','Historia']
datos = [[9,9,8],[0,0,0],[0,0,0]]

In [179]:
dataFrame= pd.DataFrame(datos,filas,columnas)

In [181]:
dataFrame

       Matemática  Física  Historia
Notas           9       9         8
x               0       0         0
y               0       0         0

In [199]:
nota_fisica =  datos[0][1]
nota_fisica

9

In [201]:
print("La nota de Física es: ",nota_fisica)

La nota de Física es:  9